target/
out/

src/main/webapp/WEB-INF/classes
src/main/webapp/WEB-INF/lib

*.iml
*.ipr
*.iws
*.idea
*.idea/*
*.class

# Package Files #
*.jar
*.war
*.ear

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out